<section class="section home-create home-create_1" id="section-macbook">
	<img src="{{post.get_field('create_image')}}" alt="{{post.get_field('create_title')|striptags}}" class="home-create__image">
	<div class="home-create__body">
		{{
			macros.sectionTitle(
				'home-create__header',
				{
					'type': 3,
					'class': 'title-lg home-create__title',
					'text': post.get_field('create_title')
				},
				{
					'type': 4,
					'class': 'title-xs home-create__subtitle',
					'text': post.get_field('create_content')
				}
			)
		}}
		{% if post.get_field('create_button_enable') %}
			<a href="mailto: {{options.email}}" class="btn btn_lg btn_border-white effect effect_bounce-top">{{post.get_field('create_button_text')}}</a>
		{% endif %}
	</div>
</section>