{% macro pageHeader(title) %}
	<header class="header">
		<div class="container">
			{% if title %}
			<h1 class="title title-md">{{title}}</h1>
			{% endif %}
		</div>
	</header>
{% endmacro %}
{% macro sectionTitle(headerClass, title, subtitle) %}
	<div class="section__header {{headerClass}}">
		{% if title %}
			<h{{title.type ? title.type : 3}} class="title {{title.class}}">{{title.text|raw}}</{{title.type ? title.type : 3}}>
		{% endif %}
		{% if subtitle %}
			<h{{subtitle.type ? subtitle.type : 4}} class="title {{subtitle.class}}">{{subtitle.text|raw}}</{{subtitle.type ? subtitle.type : 3}}>
		{% endif %}
	</div>
{% endmacro %}